/*****************************************************************************/
/* Some landscape phones and larger (576px) */
/*****************************************************************************/
@media only screen and (min-width: 300px){

  #copyright {
      padding-top: 5%;
      padding-left: 3%;
      font-size: 0.5rem;
  }

  #anti{
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 0px 0px rgba(0,0,0,0);
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    text-align: justify;
  }

  #anti2{
    background-image: url("../img/brynarticle.jpg");
    height: 200px;
    padding-top: 0px;
    margin-top: 0px;
    background-size: 100%;
    margin-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-size: 75%;
  }

  #antiImage{
    background-image: url("../img/anti.jpg");
    background-size: 100%;
    height: 200px;
  }

  #quote{
    font-size: 15px;
    font-style: oblique;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 65px;
    margin-bottom: 35px;
    color: #87a4c5;
  }

  #kalief{
    background-image: url("../img/Kalief.jpg");
    height: 230px;
    background-size: 220%;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 2800px;
  }

  blockquote {
      padding-top: 0px;
      padding-bottom: 20px;
      padding-left: 2%;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
      margin-left: 0px;
      margin-right: 0px;
      background-color: #ffffff;
      margin-bottom: 18px;
  }

  #split2{
    padding-left:10px;
    margin-left: 0px;
    padding-top: 9px;
    padding-right:17px;
  }

  #bail{
    margin-left: 7%;
    margin-right:7%;
    text-shadow: 0px 0px rgba(0,0,0,0);
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    text-align: left;
  }

  #date{
    margin-top: 3px;
    padding-left: 6%;
    font-size: 0.7rem;
    color: 	#a1a5aa;
  }

  #by{
    padding-left: 6%;
    color: #87a4c5;
    font-size: 0.6rem;
  }

  #top{
    margin-top: 5px;
    padding-left: 10%;
  }

  #jail{
    background-image: url("../img/cash.jpeg");
    height: 110px;
    padding-top: 0px;
    margin-top: 0px;
    background-size: 100%;
    margin-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #jail2{
    font-size: 1rem;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 8px;
    padding-right: 10%;
  }

  p{
    font-size: 0.8rem;
  }

h1{
  font-size: 1.8rem;
}

#org{
  margin-left: 27%;
  margin-right: 27%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}
#org2{
  font-size: 0.5rem;
  padding-top: 0px;
  text-align: center;
  padding-left: 0px;
}

#sign{
  margin-top: 0px;
  padding-top: 140px;
  font-size: 1.2rem;
}

h2{
  font-size: 1.2rem;
}

blockquote{
  font-size: 0.9rem;
}

#more{
  font-size: 1rem;
}

#heart{
  margin-top: 0px;
  background-image: url("../img/donate.jpeg");
  background-size: 265px;
  margin-left: 0px;
  height: 80px;
  width: 175px;
  margin-bottom: 20px;
  position: center;

}

#hand{
  margin-top: 0px;
  background-image: url("../img/hands.png");
  background-size: 225px;
  margin-left: 0px;
  height: 80px;
  width: 175px;
  margin-bottom: 20px;
  position: center;


}

#pen{
  margin-top: 0px;
  background-image: url("../img/signature.jpeg");
  background-size: 233px;
  margin-left: 0px;
  height: 80px;
  width: 175px;
  background-position: center;
  margin-bottom: 20px;
  position: center;

}

  #contact{
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
  }

  #phone-and-email {
    margin: 0;
    padding: 1px 0 0 0;
    list-style-type: none;
    font-size: 1rem;
    padding-bottom: 5%;
  }
  #email{
    padding-left: 0px;
  }

  #fb{
    padding-left: 3%;
  }

  #phone{
    padding-left: 3%;
  }

  #insta{
    padding-left: 3%;
  }

}


@media only screen and (min-width: 540px) {
  #copyright {
      padding-top: 5%;
      padding-left: 3%;
      font-size: 0.75rem;
  }

  #jail{
    background-image: url("../img/cash.jpeg");
    height: 175px;
    padding-top: 0px;
    margin-top: 0px;
    background-size: 100%;
    margin-top: 75px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #kalief{
    background-image: url("../img/Kalief.jpg");
    height: 230px;
    background-size: 150%;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 3500px;
  }

}
@media only screen and (min-width: 596px) {

  #kalief{
    background-image: url("../img/Kalief.jpg");
    height: 200px;
    background-size: 150%;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 3500px;
  }

  #split2{
    padding-left:10px;
    margin-left: 0px;
    padding-top: 9px;
    padding-right:17px;
  }

  #date{
    margin-top: 3px;
    padding-left: 4%;
    font-size: 0.7rem;
    color: 	#a1a5aa;
  }

  #by{
    padding-left: 4%;
    color: #87a4c5;
    font-size: 0.6rem;
  }

  #top{
    margin-top: 5px;
    padding-left: 10%;
  }


    /***********/
    /* Colours */
    /***********/
    #site-title, header nav a, header .social {
        background-color: rgba(0, 0, 0, 0.65);
    }

    header nav a {
        transition: color 0.5s;
        transition: background-color 2s;
    }

    header nav a:hover {
        color: #000;
        background-color: rgba(255, 255, 255, 0.75);
    }

    /***********/
    /* Columns */
    /***********/
    .column-container {
        display: flex;
        flex-direction: row;
    }

    .column-container .column {
        flex: 1;
        background-color: #eee;
        padding: 16px;
        margin-left: 8px;
        margin-right: 8px;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    }


    /**********/
    /* Header */
    /**********/
    #hero-container {
        position: relative;
        height: 40vh;
        min-height: 250px;
        background-image: url("../img/bryn.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        transition: background-image 0.5s;
    }

    #hero-container.bee {
        background-image: url("../img/smoke.jpg");
    }

    #hero-container.tractor {
        background-image: url("../img/bryn.jpg");
    }

    #hero-container.meadow {
        background-image: url("../img/meadow.jpg");
    }

    #site-title, header nav, header .social {
        position: relative;
        z-index: 2;
    }

    #logo {
        z-index: 3;
        background-image: url("../img/fist.png");
    }

    #hero-container .overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        display: none;
        /*
        opacity: 0;
        transition: opacity 2s;
        */
    }

    #wordmark {
        padding-left: 10%;
    }

    #site-title {
        padding-left: 8%;
        padding-right: 8%;
    }

    header nav a {
        width: 100px;
        padding-left: 8%;
        border-right: 1px dotted rgba(255, 255, 255, 0.5);
    }

    header .social {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 16px;
        padding-right: 10%;
        border-top: 1px dotted rgba(255, 255, 255, 0.5);
        border-left: 1px dotted rgba(255, 255, 255, 0.5);
    }

    header .social ul {
        overflow: hidden;
    }

    header .social li {
        float: left;
    }

    /***********/
    /* Content */
    /***********/
    article, main {
        margin-left: 10%;
        margin-right: 10%;
    }


    p{
      font-size: 0.8rem;
    }

  h1{
    font-size: 1.8rem;
  }

  #sign{
    margin-top: 0px;
    padding-top: 150px;
    font-size: 1.5rem;
  }

  h2{
    font-size: 1.2rem;
  }

  blockquote{
    font-size: 0.9rem;
  }

  #more{
    font-size: 1rem;
  }

  #heart{
    margin-top: 0px;
    background-image: url("../img/donate.jpeg");
    background-size: 265px;
    margin-left: 0px;
    height: 120px;
    width: 200px;
    margin-bottom: 20px;
    position: center;

  }

  #hand{
    margin-top: 0px;
    background-image: url("../img/hands.png");
    background-size: 225px;
    margin-left: 0px;
    height: 120px;
    width: 200px;
    margin-bottom: 20px;
    position: center;


  }

  #pen{
    margin-top: 0px;
    background-image: url("../img/signature.jpeg");
    background-size: 233px;
    margin-left: 0px;
    height: 120px;
    width: 200px;
    background-position: center;
    margin-bottom: 20px;
    position: center;

  }

  #contact{
    padding-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.8);
  }

  #phone-and-email {
    margin: 0;
    padding: 1px 0 0 0;
    list-style-type: none;
    font-size: 1.5rem;
    padding-bottom: 5%;
  }
  #email{
    padding-left: 0px;
  }

  #fb{
    padding-left: 3%;
  }

  #phone{
    padding-left: 3%;
  }

  #insta{
    padding-left: 3%;
  }
}


/*****************************************************************************/
/* Some tablets and larger (768px) */
/*****************************************************************************/
@media only screen and (min-width: 768px) {
  #copyright {
      padding-top: 5%;
      padding-left: 3%;
      font-size: 1rem;
  }

  #bail{
    margin-left: 17%;
    margin-right:17%;
    text-shadow: 0px 0px rgba(0,0,0,0);
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    text-align: left;
  }

  #kalief{
    background-image: url("../img/Kalief.jpg");
    height: 200px;
    background-size: 100%;
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 3000px;
  }

  #split2{
    padding-left:30px;
    margin-left: 0px;
    padding-right: 10%;
  }
  #date{
    margin-top: 3px;
    margin-left: 3.5%;
    font-size: 15px;
    color: 	#a1a5aa;
  }

  #by{
    margin-left: 3.5%;
    color: #87a4c5;
    font-size: 20px;
  }

  #top{
    margin-top: 25px;
    padding-left: 10%;
  }

  #jail{
    background-image: url("../img/cash.jpeg");
    height: 200px;
    padding-top: 0px;
    margin-top: 0px;
    background-size: 100%;
    margin-top: 75px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #jail2{
    font-size: 1.5rem;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 8px;
    padding-right: 10%;
  }

  #org{
    margin-left: 29%;
    margin-right: 29%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
  }
  #org2{
    font-size: 0.9rem;
    padding-top: 0px;
    text-align: center;
    padding-left: 0px;
  }

  p{
    font-size: 0.8rem;
  }

h1{
  font-size: 1.8rem;
}

#sign{
  margin-top: 0px;
  padding-top: 150px;
  font-size: 2rem;
}

h2{
  font-size: 1.2rem;
}

blockquote{
  font-size: 0.9rem;
}

#more{
  font-size: 1rem;
}

#heart{
  margin-top: 0px;
  background-image: url("../img/donate.jpeg");
  background-size: 265px;
  margin-left: 0px;
  height: 120px;
  width: 275px;
  margin-bottom: 20px;
  position: center;

}

#hand{
  margin-top: 0px;
  background-image: url("../img/hands.png");
  background-size: 225px;
  margin-left: 0px;
  height: 120px;
  width: 275px;
  margin-bottom: 20px;
  position: center;


}

#pen{
  margin-top: 0px;
  background-image: url("../img/signature.jpeg");
  background-size: 233px;
  margin-left: 0px;
  height: 120px;
  width: 275px;
  background-position: center;
  margin-bottom: 20px;
  position: center;

}
    #logo {
        display: block;
        width: 100px;
        position: absolute;
        top: 0;
        right: 10%;
        background-image: url("../img/fist.png");

    }

    #unit-signature {
        width: 100px;
    }

    #contact{
      padding-top: 5%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.8);
    }

    #phone-and-email {
      margin: 0;
      padding: 1px 0 0 0;
      list-style-type: none;
      font-size: 1.5rem;
      padding-bottom: 5%;
    }
    #email{
      padding-left: 0px;
    }

    #fb{
      padding-left: 2%;
    }

    #phone{
      padding-left: 2%;
    }

    #insta{
      padding-left: 2%;
    }

    #anti2{
      background-image: url("../img/brynarticle.jpg");
      height: 475px;
      padding-top: 0px;
      margin-top: 0px;
      background-size: 100%;
      margin-top: 100px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      background-size: 75%;
    }

    #last{
      padding-bottom: 100px;
    }


    #antiImage{
      background-image: url("../img/anti.jpg");
      background-size: 100%;
      height: 325px;
    }

}


/*****************************************************************************/
/* Some desktops and larger (992px) */
/*****************************************************************************/
@media only screen and (min-width: 992px) {

  #anti2{
    background-image: url("../img/brynarticle.jpg");
    height: 475px;
    padding-top: 0px;
    margin-top: 0px;
    background-size: 100%;
    margin-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-size: 75%;
  }

  #last{
    padding-bottom: 100px;
  }


  #antiImage{
    background-image: url("../img/anti.jpg");
    background-size: 100%;
    height: 325px;
  }

  blockquote {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 2%;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
      margin-left: 0px;
      margin-right: 0px;
      background-color: #ffffff;
      margin-bottom: 18px;
  }

  #split2{
    padding-left:30px;
    margin-left: 0px;
  }

  #quote{
    font-size: 25px;
    font-style: oblique;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 65px;
    margin-bottom: 35px;
    color: #87a4c5;
  }

  #bail{
    margin-left: 20%;
    margin-right: 20%;
    text-shadow: 0px 0px rgba(0,0,0,0);
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    text-align: left;
  }

  #jail{
    background-image: url("../img/cash.jpeg");
    height: 300px;
    padding-top: 0px;
    margin-top: 0px;
    background-size: 100%;
    margin-top: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #jail2{
    font-size: 2rem;
    padding-top:0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 8px;
    padding-right: 10%;
  }

  p{
    font-size: 1rem;
  }

  #org{
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
  }
  #org2{
    font-size: 0.9rem;
    padding-top: 0px;
    text-align: center;
    padding-left: 0px;
  }

    #site-title {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 3.75rem;
    }

    h2  {
        font-size: 1.75rem;
    }

    #heart{
      margin-top: 0px;
      background-image: url("../img/donate.jpeg");
      background-size: 465px;
      margin-left: 0px;
      height: 220px;
      margin-bottom: 40px;
      width: 98%;

    }

    #hand{
      margin-top: 0px;
      background-image: url("../img/hands.png");
      background-size: 425px;
      margin-left: 0px;
      height: 220px;
      margin-bottom: 40px;
      width: 98%;

    }

    #pen{
      margin-top: 0px;
      background-image: url("../img/signature.jpeg");
      background-size: 433px;
      margin-left: 0px;
      height: 220px;
      background-position: center;
      margin-bottom: 40px;
      width: 98%;
    }

    #phone-and-email {
      margin: 0;
      padding: 1px 0 0 0;
      list-style-type: none;
      font-size: 1.6rem;
      padding-bottom: 5%;
    }
    #email{
      padding-left: 0px;
    }

    #fb{
      padding-left: 1%;
    }

    #phone{
      padding-left: 1%;
    }

    #insta{
      padding-left: 1%;
    }
}
